<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>SensiMetrics Data Access</title>
	<meta name="description" content="Sticky Table Headers" />
	<meta name="keywords" content="Sticky Table Headers" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/table.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/component.css" />

	<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>


</head>
<body>
<h1>{{ pagename }}</h1>

<form id = "uploadForm"
	enctype = "multipart/form-data"
	action = "/dataUpload"
	method = "post">
	<!-- <input type="file" id = "dataFile" name= "dataFile"> -->

	<div class="content">

		<div class="box">
			<input type="file" name="dataFile" id="dataFile" class="inputfile inputfile-4" data-multiple-caption="{count} files selected" multiple />
			<label for="dataFile" class="choosebutton"><figure id="choosefile"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Choose a file&hellip;</span></label>

			<input type="submit" value="Upload" name="submit" id="upfile" class="uploadfile uploadfile-4" />
				<label for="upfile" class = "cloudbutton inactive"><figure class="cloudfig"><svg class="flipper" xmlns="http://www.w3.org/2000/svg"
				viewBox="0 -20 512 512">
				<g>
					<path d="M446.844,208.875C447.625,203.313,448,197.656,448,192c0-70.563-57.406-128-128-128c-40.938,0-78.531,19.344-102.344,51.063C209.25,113.031,200.688,112,192,112c-61.75,0-112,50.25-112,112c0,1.563,0.031,3.094,0.094,4.625C33.813,242.375,0,285.313,0,336c0,61.75,50.25,112,112,112h272c70.594,0,128-57.406,128-128C512,273.344,486.344,231.188,446.844,208.875z M384,416H112c-44.188,0-80-35.813-80-80s35.813-80,80-80c2.438,0,4.75,0.5,7.125,0.719c-4.5-10-7.125-21.031-7.125-32.719c0-44.188,35.813-80,80-80c14.438,0,27.813,4.125,39.5,10.813C246,120.25,280.156,96,320,96c53.031,0,96,42.969,96,96c0,12.625-2.594,24.625-7.031,35.688C449.813,238.75,480,275.688,480,320C480,373.031,437.031,416,384,416z"/>
					<polygon points="160,288 224,288 224,384 288,384 288,288 352,288 256,192"/>
				</g></figure> <span>Upload File&hellip;</span></label>
		</div>
	</div>

		<!-- </div>/container	 -->
	
</form>


<div class="component">
	<table>
		<thead>
			<tr>
				<th class="timeStamp"> Time Stamp </th>
				<th class="User"> User </th>
				<th class="Device"> Device </th>
				<th class="Biotin">Biotin </th>
				<th class="BSA"> BSA </th>
				<th class="THC"> THC </th>
				<th class="Ref"> Ref </th>
				<th class="exp_id"> Experiment ID </th>
				<th class="path"> Data Storage </th>
			</tr>
		</thead>
		<tbody>
			{% for value in finalValues %}
			{% set time = value.time.toString() %}
				<tr> 
					<td>{{ value.time.toString() }}</td>
					<td>{{ value.user }}</td>
					<td>{{ value.device_id }}</td>
					<td>{{ value.biotin }}</td>
					<td>{{ value.bsa }}</td>
					<td>{{ value.thc }}</td>
					<td>{{ value.ref }}</td>
					<td>{{ value.experiment_id }} </td>
					<td> 

						{% if false %}
							Not stored in cloud
						{% else %}

						<form id = "viewFile"
							action = "/viewFile"
							method = "post">
							<input type="submit" name="download" value={{ value.download }} >
						</form>
						<form id = "analysis"
							action = "https://sensianalytics.shinyapps.io/SensiAnalytics/"
							method = "get"
							target = "_blank">

							<input type="submit" name= {{value.dataFile}} value= {{ value.analysis }}>

						</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/js/jquery.stickyheader.js"></script>
<script src="/js/custom-file-input.js"></script>
<script src="/js/button_change.js"></script>

</body>
</html>




