<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>SensiMetrics Data Access</title>
	<meta name="description" content="Sticky Table Headers" />
	<meta name="keywords" content="Sticky Table Headers" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="/css/table.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/css/component.css" />

	<script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>


</head>
<body>
<h1>{{ pagename }}</h1>

<script>
var OAuth_2_Client_ID = "22CKV2";
var ClientSecret = "6f257eda95d92bf88deb1a094c771ba0";
var redirect_uri = "http://sensimetrics.herokuapp.com/app.js";
var expires_in = "604800" // one week

<a href = "https://www.fitbit.com/oauth2/authorize?response_type=token&client_id=22CKV2&redirect_uri=http%3A%2F%2Fsensimetrics.herokuapp.com%2F&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800
"
 > Click here to authorize FitBit </a> 
 </script>


<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Understand Your Testosterone Levels"
	},
	toolTip: {
		shared: true
	},
	axisX: {
		title: "Date",
		suffix : " "
	},
	axisY: {
		title: "Testosterone",
		titleFontColor: "#4F81BC",
		suffix : " ",
		lineColor: "#4F81BC",
		tickColor: "#4F81BC"
	},
	axisY2: {
		title: "Sleep",
		titleFontColor: "#C0504E",
		suffix : " h",
		lineColor: "#C0504E",
		tickColor: "#C0504E"
	},
	data: [{
		type: "spline",
		name: "Testosterone",
		xValueFormatString: "",
		yValueFormatString: "#,##",
		dataPoints: [//array
        { x: new Date(2017, 01, 1), y: 26},
        { x: new Date(2017, 01, 3), y: 38},
        { x: new Date(2017, 01, 5), y: 43},
        { x: new Date(2017, 01, 7), y: 29},
        { x: new Date(2017, 01, 11), y: 41},
        { x: new Date(2017, 01, 13), y: 54},
        { x: new Date(2017, 01, 20), y: 66},
        { x: new Date(2017, 01, 21), y: 60},
        { x: new Date(2017, 01, 25), y: 53},
        { x: new Date(2017, 01, 27), y: 60}

        ]
	},
	{
		type: "spline",  
		axisYType: "secondary",
		name: "distance covered",
		yValueFormatString: "#,##",
		dataPoints: [//array
        { x: new Date(2017, 01, 1), y: 2},
        { x: new Date(2017, 01, 3), y: 3},
        { x: new Date(2017, 01, 5), y: 4},
        { x: new Date(2017, 01, 7), y: 2},
        { x: new Date(2017, 01, 11), y: 4},
        { x: new Date(2017, 01, 13), y: 5},
        { x: new Date(2017, 01, 20), y: 6},
        { x: new Date(2017, 01, 21), y: 6},
        { x: new Date(2017, 01, 25), y: 3},
        { x: new Date(2017, 01, 27), y: 6}

        ]
	}]
});
chart.render();

}
</script>
<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>


<div class="component">
	<table>
		<thead>
			<tr>
				<th class="timeStamp"> Time SStamp </th>
				<th class="User"> User </th>
				<th class="Device"> Device </th>
				<th class="Biotin">Biotin </th>
				<th class="BSA"> BSA </th>
				<th class="THC"> Testosterone </th>
				<th class="Ref"> Ref </th>
				<th class="exp_id"> Experiment ID </th>
				<th class="path"> Data Storage </th>
			</tr>
		</thead>
		<tbody>
			{% for value in finalValues %}
			{% set time = value.time.toString() %}
				<tr> 
					<td>{{ value.time.toString() }}</td>
					<td>{{ value.user }}</td>
					<td>{{ value.device_id }}</td>
					<td>{{ value.biotin }}</td>
					<td>{{ value.bsa }}</td>
					<td>{{ value.thc }}</td>
					<td>{{ value.ref }}</td>
					<td>{{ value.experiment_id }} </td>
					<td> 

<!-- 						{% if false %}
							Not stored in cloud
						{% else %} -->

						<form id = "viewFile"
							action = {{ value.dataFile }}
							method = "get">
							<input type="submit" name={{value.dataFile}} value={{ value.download }} >
						</form>
						<form id = "analysis"
							action = "https://sensianalytics.shinyapps.io/SensiAnalytics/"
							method = "get"
							target = "_blank">

							<input type="submit" name= {{value.dataFile}} value= {{ value.analysis }}>

						</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src="/js/jquery.stickyheader.js"></script>
<script src="/js/custom-file-input.js"></script>
<script src="/js/button_change.js"></script>

</body>
</html>




